@{
    ViewBag.Title = "Home Page";
}

<div class="row bg-dark">
    <div class="col-2" style="margin-top: 1%;">
        <div class="row">
            <div class="row">
                <h2>Menu</h2>
            </div>
            <hr>
            <div class="row">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a id="btnDashboard" class="nav-link text-white active">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" id="btnNotification" class="nav-link text-white position-relative">
                            Notification <span id="spanCount" style="color: red;"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white" id="btnLogout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
    </div>

    <div class="col-10" style="margin-top: 1%;" id="divLoadComponent">
    </div>
</div>

<div class="modal fade" id="modalInviteAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAddLabel">Invites</h1>
                <button type="button" class="btn-close closeModalInvites" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-dark" id="tableInvites">
                    <thead>
                        <tr>
                            <th scope="col-5">Name</th>
                            <th scope="col-5">Owner</th>
                            <th scope="col-1"></th>
                            <th scope="col-1"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary closeModalInvites" id="btnCloseModal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var urlAccount = '@Url.Action("Account", "Home")'
    var urlAccounts = '@Url.Action("Accounts", "Home")'
    var urlLogout = '@Url.Action("Logout", "Home")'
    var urlIndex = '@Url.Action("Index", "Home")'

    var urlGetInvites = '@Url.Action("GetInvites", "Invite")'
    var urlUpdateInvites = '@Url.Action("UpdateInvites", "Invite")'

    var urlGetAccount = '@Url.Action("GetAccount", "Dashboard")'
    var urlGetAccountInfo = '@Url.Action("GetAccountInfo", "Dashboard")'
    var urlGetAccounts = '@Url.Action("GetAccounts", "Dashboard")'
    var urlGetInfoUser = '@Url.Action("GetUser", "Dashboard")'
    var urlGetUsers = '@Url.Action("GetUsers", "Dashboard")'
    var urlDeleteAccount = '@Url.Action("DeleteAccount", "Dashboard")'
    var urlInsertAccount = '@Url.Action("InsertAccount", "Dashboard")'
    var urlUpdateAccount = '@Url.Action("UpdateAccount", "Dashboard")'

    var urlGetBalance = '@Url.Action("GetBalanceUsers", "Account")'
    var urlGetExpense = '@Url.Action("GetExpense", "Account")'
    var urlGetExpenses = '@Url.Action("GetExpenses", "Account")'
    var urlInsertExpense = '@Url.Action("InsertExpense", "Account")'
    var urlUpdateExpense = '@Url.Action("UpdateExpense", "Account")'
    var urlDeleteExpense = '@Url.Action("DeleteExpense", "Account")'
</script>

<script src="~/Scripts/accounts.js"></script>
<script src="~/Scripts/dashboard.js"></script>
<script src="~/Scripts/account.js"></script>
